body {
    background-color: #0D192C;
    height: 100vh;
    font-family: 'Outfit', sans-serif;
}

main {
    background-color: #15263F;
}

@media screen and (min-width:375px) {
    body{
        display: flex;
        justify-content: center;
        align-items: center;
    }
    main {
        width: 327px;
        height: 543px;
        border-radius: 15px;
    }
 
    }
   

    img {
        width: 278px;
        height: 278px;
        margin-left: 24px;
        margin-top: 24px;
        margin-right: 25px
    }

    
    h1 {
        margin-top: 24px;
        margin-left: 24px;
        width: 278px;
        height: 28px;
        font-family: 'outfit', sans-serif;
        font-weight: 600;
        font-size: 22px;
        line-height: 27px;
        color: white;
    }

    .p-1 {
        margin-top: 12px;
        margin-left: 24px;
        width: 278px;
        height: 52px;
        font-family: 'outfit', sans-serif;
        font-weight: 300;
        font-size: 18px;
        line-height: 26px;
        color: #8BACD9;
    }

    .eth {
        margin-top: 16px;
        display: flex;
        align-items: center;
        justify-content: center;
        justify-content: space-between;
        width: 278px;
        height: 19px;
    }

.eth-p {

    margin: auto;
    margin-left: 24px;
    text-align: center;
    justify-content: center;
    width: 11px;
    height: 18px;
}

.clock-p {
    margin: auto;
    width: 16px;
    height: 16px;
}

.eth-sp {
    margin: auto;
    margin-left: 6px;
    width: 70px;
    height: 19px;
    line-height: 17px;
    font-family: 'outfit', sans-serif;
    font-weight: 600;
    color: #00FFF8;
}

.time-sp {
    margin: auto;
    margin-left: 6px;
    width: 68px;
    height: 19px;
    font-family: 'outfit', sans-serif;
    font-size: 15px;
    font-weight: 400;
    line-height: 19px;
    color: #8BACD9;
}

.line{
    margin-top: 16px;
    margin-left:24px;
    width: 278px;
    height: 1px;
    background-color:#2E405A;

}
footer{
    display:flex;
    align-items: center;
}

   .creator-p {
    width: 33px;
    height: 33px;
}
.creator-span{
    color: #8BACD9;
}
.p-2{
    margin-top:15px;
    width: 170px;
    height: 19px;
    line-height: 19px;
    font-weight:400;
    color:white;
}

@media screen and (min-width:1024px) {
    main{
        width: 350px;
        height: 596px;
    }
    img{
        width: 302px;
        height: 302px;
    }
    h1{
        width: 302px;
        height: 28px;
    }
    .p-1{
        width: 302px;
        height: 52px;
    }
    .eth{
        width: 302px;
        height: 20px;
    }
    .line{
        width: 302px;
    }
    footer{
        width: 302px;
    }
}
